.bnpolloftheday_btn {
    cursor: pointer;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;
    color: white;

}

.bnpolloftheday_viewResultsBtn {
    background-color:darkgreen;
    text-shadow: 1px 1px 2px blue, 0 0 1em red, 0 0 0.2em red;
}

.bnpolloftheday_voteBtn {
    background-color:darkorange;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.bnpolloftheday_fc {
    display: flex;
    justify-content: left;
    align-items: center;
}

.bnpolloftheday_disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: grey;
}